html {
  background-color: #f2f4f8;
  overflow-x: hidden;
}
body,head {
	margin:0;
	padding:0;
}
a:link{
	text-decoration: none;

}
a:visited{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
a:active{
	text-decoration: none;
}
#header{
	/*width:100%;*/
	position: fixed;
	/*background: deepskyblue;*/
	z-index:30;
	height:100px;
	font-size:20px;
	background:#F8F8FF;
	color:#F8F8FF;
	/*background: steelblue;*/
	top: 0px;
  	left: 0px;
 	width: 100%;
}
a {
	text-decoration:none;
}
.title{
	width:150px;
	height:50px;
	text-align:center;
	float:left;
	
	margin-left: 200px;
	line-height: 50px;
	
	box-shadow: 0 0 0 4px rgba(255,255,255,1);
  transition: background 1s, color 0.5s;   
}
.title a {
	font-size: 24px;
	font-weight:bold;

	color:white;
	text-decoration: none;
}
.title a span{
	font-size: 40px;
	font-weight:bold;
	color:white;
	margin-bottom:20px ;
	text-decoration: none;
}
.title:hover{
	background:salmon;
    color: #64bb5d;
}
.title:hover{
	animation: spinAround 4s linear infinite;
}
@keyframes spinAround {
    padding:20px;
}
.user {
	position: absolute;
	top:0;
	right:0;
	float: right;
	height:50px;
	cursor:pointer;
}
.user:hover{
	cursor:pointer;
}
.user img {
	width:50px;
	height:50px;
	border-radius:25px;
	float:left;
	margin-right: 20px;
	opacity: 0.6;
}
.user img{
	animation: userAround 4s linear infinite;
}
@keyframes userAround {
    from {
        transform: rotate(360deg)
    }
    to {
        transform: rotate(0deg);
    }
}
.user img:hover{
	animation: ;
}
.user span {
	margin-right: 150px;
	float:left;
	
}
.user span a {
	color:whitesmoke;	
	line-height: 50px;
}


#content-main{
  /*border-left-color: gray;
  border-right: hidden;
  border-top: hidden;
  border-bottom: hidden;*/
	margin-top:100px ;
	margin-right: 20px;
	
	width: 500px;
	height: 1000px;
	
}


#content-user{
	margin-top:125px ;
	margin-left: 200px;
	margin-right: 20px;
	width: 500px;
	height: 80px;
}
.content-user-icon{
	margin-bottom: 10px;
	float: left;
	margin-left: 25px;
	height:80px;
	cursor:pointer;
}
.content-user-icon{
	cursor: pointer;
}
.content-user-icon img{
	width:65px;
	height:65px;
	border-radius:20px;
	padding: 5px;
	float:left;
	cursor:pointer;
}


.content-user-box{
	margin-left: 10px,10px;
	float: left;
}
.content-ask{
	display: inline-block;//本身行级元素,内容块级元素
	list-style: none;

	width: 150px;
	margin: 0;
	padding-left:20px,20px ;
	white-space: nowrap;
	list-style-type:none;
}
ul:after{
	content: "";
	display: block;
	clear: both;
}
.content-ask-item{
	 border-radius: 10px;
	 float:left; 
	 margin-left:30px; 
	 white-space: nowrap;

}
.content-ask-item-a{
			display: inline-block;
			margin-top: 20px;
			float:left; 
}
#content-writed-list{
	float: left;
	margin-left: 200px;
		overflow: hidden;

}

#content-writed-list-title>h4{
	padding-top: 30px;
	margin: 5px;
}
.writed-link a{
	float: left;
	padding: 10px;
	overflow: hidden;
}
.img-logo{
	height: 40px;
	border-radius: 20px;
	padding-right: 10px;
	padding: 5px;
}
.writed-link{
	overflow: hidden;
}
.username{
	cursor: pointer;
}

.comment-line{
	font-family: "微软雅黑";
	font-size:13px;
	display: inline-block;
	margin-top: -200px;
}
.comment-img-line{
	display: block;
	float: right;

	margin-left: 60px;
	margin-top: -1.4em;
}
comment{
	padding: 20px;
}
.comment-text{
	float: left;
	overflow: hidden;
	width:550px;
	height:100px ;
	display: block;
	margin-left: 65px;
	margin-top: -50px;
	border-radius: 5px;
	border:1px solid #EEE9E9 ;
}
.comment-text:focus{
	animation: border-1 0.25s linear infinite;
}
@keyframes border-1 {

		border:groove #87CEEB;
			border-radius: 5px;
}
.comment-img{
	margin-top: 30px;
	margin-left: 180px;
	display: inline-block;
	
}
.comment-img img{
	
display: block;
height: 100%;
border-radius: 5px;
}
.comment-btn{
	font: 22px "微软雅黑" ;
	color:#EEE9E9 ;
	background: transparent;
	padding: 5px;
	float: right;
	border-radius: 5px;
	border:2px solid #EEE9E9 ;
}
.comment-btn:focus{
	background-color: #87CEEB;
	cursor: pointer;
}
.comment-list{
	margin-left: 200px;
	float: left;
	overflow: hidden;
}
.comment-list-item{
	float: left;
	margin-top: 20px ;
	overflow: hidden;
	
}
.comment-list-item img{
	width:50px;
	height:50px;
	border-radius:25px;
	
}
.comment-list-user{
	
	float: left;
	margin-left: 75px;
	margin-top: -50px;
}
.comment-content{
	padding-top: 14px;
	padding-left: 0;
	display: block;
	color: #CDC0B0;
}
.comment-content-user{
	font-family: "微软雅黑";
	color: #8B7765;
}
.comment-time-zan{
	 width: 525px;
}
.comment-time{
	color:silver;
	opacity: 0.95;
}
.comment-zan{
	float: right;
	color:#8B8682;
}
			#footer {
				
			position:  fixed;
			bottom: 0;
			
			opacity: 0.6;
			width: 100%;
			margin: 0 auto;
			text-align: center;
			height: 50px;
			margin-top: 10px;
			}
			#footer h4 {
			font-family: 20px/2 Arial;
			margin:0;
			padding:0 10px;
			}







