﻿html {
  background-color: #f2f4f8;
  overflow-x: hidden;
}
body,head {
	margin:0;
	padding:0;
}
a:link{
	text-decoration: none;

}
a:visited{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
a:active{
	text-decoration: none;
}
#header{
           background-color:#8B7D6B;
            height:80px;
            margin-top:0px;
            opacity:0.8;
            position:fixed;
				/*background: deepskyblue;*/
			z-index:30;
			font-size:px;
			background:#333;
			color:#b0b0b0;
			/*background: steelblue;*/
			top: 0px;
   			 left: 0px;
   			 width: 100%;
}
a {
	text-decoration:none;
}




.title{
	width:150px;
	height:80px;
	text-align:center;
	float:left;
	
	margin-left: 200px;
	line-height: 80px;
	box-shadow: 0 0 0 4px rgba(255,255,255,1);
 	 transition: background 2s, color 1s;  
}
.title a {
	font-size: 24px;
	font-weight:bold;

	color:white;
	text-decoration: none;
}
.title a span{
	font-size: 40px;
	font-weight:bold;
	color:white;
	margin-bottom:20px ;
	text-decoration: none;
}

.title:hover{
	background:salmon;
    color: #64bb5d;
}
.title:hover{
	animation: spinAround 4s linear infinite;
}
@keyframes spinAround {
    padding:20px;
}

.user {
	position: absolute;
	top:0;
	right:0;
	float: right;
	height:100px;
	cursor:pointer;
}
.user:hover{
	cursor:pointer;
}
.user img {
	width:70px;
	height:70px;
	border-radius:50px;
	margin:10px;
	float:left;
	padding-right: -50px;
}
.user span {
	margin-right: 150px;
	float:left;
	
}
.user span a {
	color:whitesmoke;	
	line-height: 80px;
}
#content-main{
	border: ;
  /*border-left-color: gray;
  border-right: hidden;
  border-top: hidden;
  border-bottom: hidden;*/
	margin-top:25px ;
	margin-left: 200px;
	margin-right: 20px;
	width: 500px;
	height: 600px;
	
}
#content-right-top{

	width: 230px;
	height:200px;
  margin-top:-85px ;
	margin-right:100px;
	margin-left: 50px;
	float: right;
	overflow: hidden;
	
}

#content-user{
	

	margin-top:125px ;
	margin-left: 200px;
	margin-right: 20px;
	width: 500px;
	height: 80px;
}
.content-user-icon{
	margin-bottom: 10px;
	float: left;
	margin-left: 25px;
	height:80px;
	cursor:pointer;
}
.content-user-icon{
	cursor: pointer;
}
.content-user-icon img{
	width:65px;
	height:65px;
	border-radius:20px;
	padding: 5px;
	float:left;
	cursor:pointer;
}


.content-user-box{
	margin-left: 10px,10px;
	float: left;
}
.content-ask{
	display: inline-block;//本身行级元素,内容块级元素
	list-style: none;

	width: 150px;
	margin: 0;
	padding-left:20px,20px ;
	white-space: nowrap;
	list-style-type:none;
	 width: auto;
}
ul:after{
	content: "";
	display: block;
	clear: both;
}
.content-ask-item{
	 border-radius: 10px;
	 float:left; 
	 margin-left:30px; 
	 white-space: nowrap;

}
.content-ask-item-a{
			display: inline-block;
			margin-top: 20px;
			float:left; 
}
.content-writed-list{
	border-top:5px dashed #789DCE  ;
}
#content-writed-list-title>h4{
	padding-top: 10px;
	margin: 5px;
}
.writed-link a{
	float: left;
	padding: 10px;
	overflow: hidden;
}
.writed-link{
	overflow: hidden;
}




.content-video-title{
	font-family: "微软雅黑";
	font-size:28px;
	color:#789dce;
	padding-top: 15px;
	padding-bottom: 15px;
	/*padding-left: 40px;*/
}
.content-video-time{
	position: absolute;
	top:20px;
	left:50px;
	background:darkcyan;
	color:whitesmoke;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 10px;
}
.content-video-detail{
	position:relative;
	width:30%;
	height: auto;
	margin: 20px;
	float: left;
/*	padding-left: 30px;*/
}
.content-video-img{
	width: 100%;
	height: auto;
	border-radius: 15px;
}
.content-video-author ,.content-video-name {
	font-family: "微软雅黑";
	font-size:13px;
	color: skyblue;
}
.content-video-img:hover{
	opacity: 0.8;
	background: grey;
}
.content-videolist-detail{
		position:relative;
	width:21%;
	height: auto;
	margin: 20px;
	float: left;
}
.content-videolist-title{
	font-family: "微软雅黑";
	font-size:28px;
	color:#789dce;
	padding-top: 15px;
	padding-bottom: 15px;
}
.content-videolist-img{
		width: 100%;
	height: auto;
	border-radius: 15px;
}
.content-videolist{
	margin-left: 30px;
	width: 100%;
	height: auto;
	margin: 20px;
	float: left;
}
			#footer {
				
			position:  fixed;
			bottom: 0;
			
			opacity: 0.6;
			width: 100%;
			margin: 0 auto;
			text-align: center;
			height: 50px;
			margin-top: 10px;
			}
			#footer h4 {
			font-family: 20px/2 Arial;
			margin:0;
			padding:0 10px;
			}




